* {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* .App {
  height: 100%;
} */

.background-image {
  background-image: url('../public/radd-foods-img.png');
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
