.background-image {
  background-image: url("../public/RADDhome.png");
  width: 100vw;
  height: 1500px; 
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}